@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Poppins:wght@200;400;600&display=swap");

:root {
  --color: #ecf0f1;
}

* {
  user-select: none;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  background-color: black;
  color: var(--color);
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.clock {
  position: absolute;
  margin: 10px;
  font-size: 20px;
}

.bg {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.userName {
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
  transition: 0.3s;
}

.textboxName {
  height: 30px;
  width: 100%;
  background-color: transparent;
  border: 3px solid var(--color);
  caret-color: transparent;
  color: var(--color);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.adjustBtn {
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  color: var(--color);
  border: none;
}

.hidden {
  display: none;
}

.gotName {
  position: absolute;
  top: 100%;
  transform: translate(-50%, -100%);
  flex-direction: row;
  font-size: 10px;
  transition: 0.3s;
  animation: linear;
}

.gotName h1 {
  margin-right: 30px;
}

.addDream {
  position: absolute;
  padding: 0;
  margin: 0;
}

.noDream {
  font-size: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s linear;
}

.yesDream {
  font-size: 30px;
  top: 0;
  left: 100%;
  transform: translate(-150%, 25%);
  transition: 0.2s linear;
}

.dreamForm {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dreamText {
  background-color: transparent;
  border: 3px solid var(--color);
  color: var(--color);
  font-weight: 600;
  font-size: 20px;
  width: 15rem;
  height: 2rem;
}

.dreams {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  list-style-type: none;
}
.dreams li {
  margin: 0 20px;
}
