@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&family=Poppins:wght@200;400;600&display=swap");

:root {
  --background-color: #cad3c8;
  --color: #353b48;
}

* {
  user-select: none;
}

body {
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.userName {
  background-color: var(--background-color);
  width: 300px;
  height: 150px;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #bdc581;
  opacity: 0.5;
}

.getUserName {
  width: 200px;
  height: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
}
